<ActionBar title="Search" class="action-bar"></ActionBar>

<StackLayout>
        <StackLayout>
                <SearchBar hint="Search items" (textChange)="onTextChanged($event)"></SearchBar>
        </StackLayout>

        <StackLayout>
                <ListView [items]="results" class="list-group">
                        <ng-template let-item=" item">
                                <Label [item]="item" (tap)="onSubmit($event)" [text]="item.name" class="list-group-item"></Label>
                        </ng-template>
                </ListView>
        </StackLayout>
</StackLayout>